.body {
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0E1010;
  height: 100vh;
  width: 100vw;
  color:#E2FCFC;
  z-index: 1;
  font-family: 'Satoshi-Variable';
  font-weight: 500;
  font-size:12px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.logo {
  width: 48px;
  height: auto;
  color: white;
  text-decoration: none;
  z-index: 2;
}


.children {
  z-index: 3;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 28% 0%
  }

  50% {
    background-position: 73% 100%
  }

  100% {
    background-position: 28% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 28% 0%
  }

  50% {
    background-position: 73% 100%
  }

  100% {
    background-position: 28% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 28% 0%
  }

  50% {
    background-position: 73% 100%
  }

  100% {
    background-position: 28% 0%
  }
}